<!-- <p>
	<strong>Commenter:</strong>
	<%= comment.commenter %>
</p>

<p>
	<strong>Comment:</strong>
	<%= comment.body %>
</p> -->

<section class="comment">
	<p class="commentBody">
		<strong>Comment</strong>
		<%= comment.body %>
	</p>
	<p class="commenter">
		<!-- <strong>Commenter:</strong> -->
		<%= comment.commenter %>
	</p>
</section>	

<p class="deleteComment">
	<%= link_to 'Delete Comment', [comment.article, comment],
				method: :delete,
				data: { confirm: 'Are you sure?' } %>
</p>