<main>
  <section class="wrapper">
    <header>
      <h1>Seinfeld Crew Thoughts</h1>
      <h2>First blog site made with Ruby on Rails</h2>
    </header>  
    <div class="newPost"><%= link_to 'Write a new post', new_article_path %></div>


    <% @articles.each do |article| %> 
      <section class="blog">
        <h2 class="subtitle"><%= link_to article.title, article_path(article) %></h2>
        <p><%= article.text %></p>

        <ul class="blogButtons">
          <li class="blogButton"><%= link_to 'Show', article_path(article) %></li>
          <li class="blogButton"><%= link_to 'Edit', edit_article_path(article) %></li>
          <li class="blogButton"><%= link_to 'Destroy', article_path(article), 
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></li>
        </ul>    
      </section><!-- End of blog  --> 
    <% end %>
  </section><!-- End of wrapper -->
</main>  
 



